.active {
  background-color: hsl(203, 84%, 36%);
  border-radius: 10%;
  color: white !important;
}
.headerBottom {
  background-color: #107abe;
  padding: 4px 0px;
  position: -webkit-sticky;
  width: 100%;
}
.navbar > ul > a {
  color: #dfdfdf;
  padding: 5px 10px;
}
.navbar > ul > a.active {
  transition: background-color 0.3s ease-in-out;
}
.navbar > ul > a:hover {
  color: white;
}
.activeSearchBox {
  transform: translateY(-100%);
  animation: searchbox 0.5s forwards;
}
.closeSearchBox {
  animation: searchbox 0.5s backwards;
}
@keyframes searchbox {
  100% {
    transform: translateY(0);
  }
}
.header {
  overflow: visible;
}
