.image {
  height: 17rem;
  cursor: pointer;
}
.image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 1023.98px) {
  .image {
    min-width: 90%;
  }
}
